@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Some Secret Info here..</h2><br />
<marquee><h2>Some Secret Info coming soon..</h2></marquee>
