<div class="container mt-4">
  <h2 class="text-center mb-4">Orders List</h2>

  <table class="table table-bordered table-hover text-center shadow">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.product }}</td>
        <td>{{ order.price | currency:'INR' }}</td>
        <td>{{ order.date | date:'medium' }}</td>
        <td>
          <span 
            class="badge"
                [ngClass]="{
                    'bg-warning': order.status === 1,
                    'bg-primary': order.status === 2,
                    'bg-success': order.status === 3
                     }">{{ order.status | orderStatus }}
</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>